<h1>Result</h1>

<% if !@found %>
  <p><%= "Sorry, but " %><strong><%= "#{@answer}" %></strong><%= " does not seem to be a valid English word..." %></p>
<% elsif @missing_letters %>
  <p><%= "Sorry, but " %><strong><%= "#{@answer}" %></strong><%= " can't be built out of #{@letters.join(',')}" %></p>
<% else %>
  <strong>Congratulations!</strong> <%= "#{@answer} is a valid English word!" %>
<% end %>

<br>

<%= link_to 'Play again', '/new' %>
